.contact-social.the-heading.container-shadow
  
  .social-heading
    h1 Contact Info
    hr.thehr
  
  .social-info
    .social-icon
      a(target="_blank" href="https://www.instagram.com/cr7designs/").fa.fa-instagram
      a(target="_blank" href="https://www.facebook.com/officialcr7designs/").fa.fa-facebook
      a(target="_blank" href="https://www.twitter.com/cr7designs/").fa.fa-twitter
      a(target="_blank" href="http://cr7designs.tumblr.com/").fa.fa-tumblr
      a(target="_blank" href="https://www.pinterest.com/cr7designs/").fa.fa-pinterest-p
      a(target="_blank" href="https://plus.google.com/b/106144561101251846053/106144561101251846053?pageId=106144561101251846053").fa.fa-google-plus
  
  .email
    hr
    a(href="mailto:TetrahedralPrism@gmail.com")
      p tetrahedralprism@gmail.com
    
