mixin igpin-image(backgroundimg)
  a(target="_blank" href="https://www.instagram.com/tetrahedralprism/" style="background-image: url({{site.baseurl}}/assets/img/contact/instagram/#{backgroundimg})").insta-thumb.igpin-thumb.blackwhite-hover


.contact-instagram.content-height.container-shadow

  .info-content.content-height.info-content-left
    h1 Instagram
    hr.thehr
    p Stay updated on instagram, give me a follow
    a(target="_blank" href="https://www.instagram.com/tetrahedralprism/")
      button.info-shop-button.info-contact-button Follow

  .igpin-images
    +igpin-image('instagram-1.jpg')
    +igpin-image('instagram-2.jpg')
    +igpin-image('instagram-3.jpg')
    +igpin-image('instagram-4.jpg')
    +igpin-image('instagram-5.jpg')
    +igpin-image('instagram-1.jpg')
    +igpin-image('instagram-2.jpg')
    +igpin-image('instagram-3.jpg')
    +igpin-image('instagram-4.jpg')
    +igpin-image('instagram-5.jpg')
    +igpin-image('instagram-1.jpg')
    +igpin-image('instagram-1.jpg')
