.contact-twitter.container-shadow

  .info-content.info-content-left
    h1 Twitter
    hr.thehr
    p Stay updated on twitter, give me a follow
    a(target="_blank" href="https://www.twitter.com/tetrahedralprism/")
      button.info-shop-button.info-contact-button Follow

  #exampleProfile
  #exampleList
