mixin igpin-image(pin, backgroundimg)
  a(target="_blank" href="https://www.pinterest.com/pin/#{pin}" style="background-image: url({{site.baseurl}}/assets/img/contact/pinterest/#{backgroundimg})").igpin-thumb.pin-thumb.blackwhite-hover


.contact-pinterest.content-height.container-shadow
  .igpin-images
    +igpin-image('290482244700540585', 'pinterest-2.jpg')
    +igpin-image('290482244700540585', 'pinterest-1.jpg')
    +igpin-image('290482244700540585', 'pinterest-3.jpg')
    +igpin-image('290482244700540585', 'pinterest-4.jpg')
    +igpin-image('290482244700540585', 'pinterest-5.jpg')
    +igpin-image('290482244700540585', 'pinterest-1.jpg')
    +igpin-image('290482244700540585', 'pinterest-2.jpg')
    +igpin-image('290482244700540585', 'pinterest-3.jpg')
    +igpin-image('290482244700540585', 'pinterest-4.jpg')
    +igpin-image('290482244700540585', 'pinterest-5.jpg')
    +igpin-image('290482244700540585', 'pinterest-1.jpg')
    +igpin-image('290482244700540585', 'pinterest-1.jpg')

  .info-content.content-height.info-content-right
    h1 Pinterest
    hr.thehr
    p Stay updated on pinterest, give me a follow
    a(target="_blank" href="https://www.pinterest.com/cr7designs/pins/follow/")
      button.info-shop-button.info-contact-button Follow
