.contact-social.the-heading.container-shadow
  
  .social-heading
    h1 Contact Info
    hr.thehr
  
  .social-info
    .social-icon
      a(target="_blank" href="https://www.instagram.com/tetrahedralprism/").fa.fa-instagram
      a(target="_blank" href="https://www.facebook.com/tetrahedralprism/").fa.fa-facebook
      a(target="_blank" href="https://www.twitter.com/tetrahedralprism/").fa.fa-twitter
      a(target="_blank" href="http://tetrahedralprism.tumblr.com/").fa.fa-tumblr
      a(target="_blank" href="https://www.pinterest.com/tetrahedralprism/").fa.fa-pinterest-p
      a(target="_blank" href="https://plus.google.com/+TetrahedralPrism/").fa.fa-google-plus
  
  .email
    hr
    a(href="mailto:tetrahedralprism@hotmail.com")
      p tetrahedralprism@hotmail..com
    
