.mobile-nav
  ul
    li: a(href="{{site.baseurl}}/") Home
      .active-nav
    li: a(href="{{site.baseurl}}/series") Series
      .active-nav
    li: a(href="{{site.baseurl}}/collections") Collections
      .active-nav
    li: a(href="{{site.baseurl}}/shop").activated Shop
      .active-nav
    li: a(href="{{site.baseurl}}/contact") Contact
      .active-nav
  .mobile-social-media
    a(target="_blank" href="https://www.instagram.com/cr7designs/").fa.fa-instagram
    a(target="_blank" href="https://www.facebook.com/officialcr7designs/").fa.fa-facebook
    a(target="_blank" href="https://www.twitter.com/cr7designs/").fa.fa-twitter
    a(target="_blank" href="http://cr7designs.tumblr.com/").fa.fa-tumblr
    a(target="_blank" href="https://www.pinterest.com/cr7designs/").fa.fa-pinterest-p
    a(target="_blank" href="https://plus.google.com/b/106144561101251846053/106144561101251846053?pageId=106144561101251846053").fa.fa-google-plus


.header
  .header-position.info-content-left
    .tetra-anchor
      a(href="{{site.baseurl}}/")
        img(src="{{site.baseurl}}/assets/img/tetra-logo.svg", title="Tetragedral Prism", alt="Tetragedral Prism").logo
      h1 Tetrahedral Prism

    nav.site-nav
      hr
      ul
        li: a(href="{{site.baseurl}}/") Home
          .active-nav
        li: a(href="{{site.baseurl}}/series") Series
          .active-nav
        li: a(href="{{site.baseurl}}/collections") Collections
          .active-nav
        li: a(href="{{site.baseurl}}/shop").activated Shop
          .active-nav
        li: a(href="{{site.baseurl}}/contact") Contact
          .active-nav
      hr

    .social-media
      a(target="_blank" href="https://www.instagram.com/cr7designs/").fa.fa-instagram
      a(target="_blank" href="https://www.facebook.com/officialcr7designs/").fa.fa-facebook
      a(target="_blank" href="https://www.twitter.com/cr7designs/").fa.fa-twitter
      a(target="_blank" href="http://cr7designs.tumblr.com/").fa.fa-tumblr
      a(target="_blank" href="https://www.pinterest.com/cr7designs/").fa.fa-pinterest-p
      a(target="_blank" href="https://plus.google.com/b/106144561101251846053/106144561101251846053?pageId=106144561101251846053").fa.fa-google-plus

    .mobile-nav-toggle
      span
