
<div class="contact-tumblr content-height container-shadow">
  <div class="info-content content-height info-content-left">
    <h1>Tumblr</h1>
    <hr class="thehr"/>
    <p>Stay updated on Tumblr, give my page a like</p><a target="_blank" href="http://www.cr7designs.tumblr.com/">
      <button class="info-shop-button info-contact-button">Follow</button></a>
  </div>
  <div class="overlay content-height"></div>
  <div class="fbtu-overlap content-height"><a target="_blank" href="http://www.cr7designs.tumblr.com/"><img src="/assets/img/contact/tumblr/tu-overlap.jpg"/></a></div>
  <div class="fbtu-images"><a target="_blank" href="http://www.cr7designs.tumblr.com/" style="background-image: url(/assets/img/contact/tumblr/tu-thumb1.jpg)" class="fbtu-thumb fbtu-thumb1"></a><a target="_blank" href="http://www.cr7designs.tumblr.com/" style="background-image: url(/assets/img/contact/tumblr/tu-thumb1.jpg)" class="fbtu-thumb fbtu-thumb2"></a><a target="_blank" href="http://www.cr7designs.tumblr.com/" style="background-image: url(/assets/img/contact/tumblr/tu-thumb1.jpg)" class="fbtu-thumb fbtu-thumb1"></a><a target="_blank" href="http://www.cr7designs.tumblr.com/" style="background-image: url(/assets/img/contact/tumblr/tu-thumb1.jpg)" class="fbtu-thumb fbtu-thumb2"></a>
  </div>
</div>