
<div class="contact-form the-heading container-shadow">
  <div class="form-heading">
    <h1>Get in touch</h1>
    <hr class="thehr"/>
  </div>
  <div class="form-fill-out">
    <div id="mc_form">
      <form method="POST" action="https://formspree.io/tetrahedralprism@hotmail.com">
        <div class="form-display">
          <div class="row-1">
            <div class="mc-field-group group-name">
              <input type="text" name="name"/>
              <label>Your Name... </label>
            </div>
            <div class="mc-field-group group-subject">
              <input type="text" name="subject"/>
              <label>Your Subject... </label>
            </div>
            <div class="mc-field-group group-email">
              <input type="email" name="_replyto"/>
              <label>Your Email... </label>
            </div>
          </div>
          <div class="row-2">
            <div class="mc-field-group group-message">
              <input type="text" name="subject"/>
              <label>Your Message... </label>
            </div>
          </div>
          <div class="group-submit">
            <input type="submit" value="Submit" class="submit-button"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>