
<div class="contact-facebook content-height container-shadow">
  <div class="overlay content-height"></div>
  <div class="fbtu-overlap content-height"><a target="_blank" href="https://www.facebook.com/officialcr7designs/"><img src="/assets/img/contact/facebook/fb-overlap.jpg"/></a></div>
  <div class="fbtu-images"><a target="_blank" href="https://www.facebook.com/officialcr7designs/" style="background-image: url(/assets/img/contact/facebook/fb-thumb1.jpg)" class="fbtu-thumb fbtu-thumb1"></a><a target="_blank" href="https://www.facebook.com/officialcr7designs/" style="background-image: url(/assets/img/contact/facebook/fb-thumb1.jpg)" class="fbtu-thumb fbtu-thumb2"></a><a target="_blank" href="https://www.facebook.com/officialcr7designs/" style="background-image: url(/assets/img/contact/facebook/fb-thumb1.jpg)" class="fbtu-thumb fbtu-thumb1"></a><a target="_blank" href="https://www.facebook.com/officialcr7designs/" style="background-image: url(/assets/img/contact/facebook/fb-thumb1.jpg)" class="fbtu-thumb fbtu-thumb2"></a>
  </div>
  <div class="info-content content-height info-content-right">
    <h1>Facebook</h1>
    <hr class="thehr"/>
    <p>Stay updated on Facebook, give my page a like</p><a target="_blank" href="https://www.facebook.com/officialcr7designs/">
      <button class="info-shop-button info-contact-button">Follow</button></a>
  </div>
</div>