---
layout: default
title: Home
---
<div class="home-wrap">

  {% include main/header.html %}

  <div class="sections">

    {% include main/carousel-home.html %}
    {% include home/home-shop-carousel1.html %}
    {% include home/home-image-download1.html %}
    {% include home/home-shop-carousel2.html %}
    {% include home/home-image-download2.html %}
    {% include home/home-shop-carousel3.html %}

  </div>

  {% include main/footer.html %}


  <script type="text/javascript" src="/assets/js/home.js"></script>
</div>
