
<div class="carousel carousel-height">
  <div id="slider-wrap">
    <div class="arrows-carousel carousel-height">
      <div id="toggle-left"><i class="previousarrow fa fa-angle-left"></i></div>
      <div id="toggle-right"><i class="nextarrow fa fa-angle-right"></i></div>
    </div>
    <div id="slider-paging" class="carousel-height">
      <ul class="slider-pages">
        <li id="slider-page-1" class="slider-page">
          <div class="triangle-bottom"></div>
          <div class="triangle-top"></div>
        </li>
        <li id="slider-page-2" class="slider-page">
          <div class="triangle-bottom"></div>
          <div class="triangle-top"></div>
        </li>
        <li id="slider-page-3" class="slider-page">
          <div class="triangle-bottom"></div>
          <div class="triangle-top"></div>
        </li>
        <li id="slider-page-4" class="slider-page">
          <div class="triangle-bottom"></div>
          <div class="triangle-top"></div>
        </li>
        <li id="slider-page-5" class="slider-page">
          <div class="triangle-bottom"></div>
          <div class="triangle-top"></div>
        </li>
      </ul>
    </div>
    <div id="slider">
      <ul class="slides">
        <li class="slide">
          <div class="carousel-info-button carousel-height">
            <h1>Image1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><a href="{{site.baseurl}}/collections">
              <button class="top-carousel-button button">Check Check</button></a>
          </div>
          <div class="overlay carousel-height"></div>
          <div style="background-image: url({{site.baseurl}}/assets/img/series/carousel/carousel1.jpg)" class="carousel-image carousel-height"></div>
        </li>
        <li class="slide">
          <div class="carousel-info-button carousel-height">
            <h1>Image2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><a href="{{site.baseurl}}/collections">
              <button class="top-carousel-button button">Check Check</button></a>
          </div>
          <div class="overlay carousel-height"></div>
          <div style="background-image: url({{site.baseurl}}/assets/img/series/carousel/carousel1.jpg)" class="carousel-image carousel-height"></div>
        </li>
        <li class="slide">
          <div class="carousel-info-button carousel-height">
            <h1>Image3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><a href="{{site.baseurl}}/collections">
              <button class="top-carousel-button button">Check Check</button></a>
          </div>
          <div class="overlay carousel-height"></div>
          <div style="background-image: url({{site.baseurl}}/assets/img/series/carousel/carousel2.jpg)" class="carousel-image carousel-height"></div>
        </li>
        <li class="slide">
          <div class="carousel-info-button carousel-height">
            <h1>Image4</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><a href="{{site.baseurl}}/collections">
              <button class="top-carousel-button button">Check Check</button></a>
          </div>
          <div class="overlay carousel-height"></div>
          <div style="background-image: url({{site.baseurl}}/assets/img/series/carousel/carousel2.jpg)" class="carousel-image carousel-height"></div>
        </li>
        <li class="slide">
          <div class="carousel-info-button carousel-height">
            <h1>Image5</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><a href="{{site.baseurl}}/collections">
              <button class="top-carousel-button button">Check Check</button></a>
          </div>
          <div class="overlay carousel-height"></div>
          <div style="background-image: url({{site.baseurl}}/assets/img/series/carousel/carousel2.jpg)" class="carousel-image carousel-height"></div>
        </li>
      </ul>
    </div>
  </div>
</div>