
<div class="mobile-nav">
  <ul>
    <li><a href="{{site.baseurl}}/">Home
        <div class="active-nav"></div></a></li>
    <li><a href="{{site.baseurl}}/series" class="activated">Series
        <div class="active-nav"></div></a></li>
    <li><a href="{{site.baseurl}}/collections">Collections
        <div class="active-nav"></div></a></li>
    <li><a href="{{site.baseurl}}/shop">Shop
        <div class="active-nav"></div></a></li>
    <li><a href="{{site.baseurl}}/contact">Contact
        <div class="active-nav"></div></a></li>
  </ul>
  <div class="mobile-social-media"><a target="_blank" href="https://www.instagram.com/cr7designs/" class="fa fa-instagram"></a><a target="_blank" href="https://www.facebook.com/officialcr7designs/" class="fa fa-facebook"></a><a target="_blank" href="https://www.twitter.com/cr7designs/" class="fa fa-twitter"></a><a target="_blank" href="http://cr7designs.tumblr.com/" class="fa fa-tumblr"></a><a target="_blank" href="https://www.pinterest.com/cr7designs/" class="fa fa-pinterest-p"></a><a target="_blank" href="https://plus.google.com/b/106144561101251846053/106144561101251846053?pageId=106144561101251846053" class="fa fa-google-plus"></a></div>
</div>
<div class="header">
  <div class="header-position info-content-left">
    <div class="tetra-anchor"><a href="{{site.baseurl}}/"><img src="/assets/img/tetra-logo.svg" title="Tetragedral Prism" alt="Tetragedral Prism" class="logo"/></a>
      <h1>Tetrahedral Prism</h1>
    </div>
    <nav class="site-nav">
      <hr/>
      <ul>
        <li><a href="{{site.baseurl}}/">Home
            <div class="active-nav"></div></a></li>
        <li><a href="{{site.baseurl}}/series" class="activated">Series
            <div class="active-nav"></div></a></li>
        <li><a href="{{site.baseurl}}/collections">Collections
            <div class="active-nav"></div></a></li>
        <li><a href="{{site.baseurl}}/shop">Shop
            <div class="active-nav"></div></a></li>
        <li><a href="{{site.baseurl}}/contact">Contact
            <div class="active-nav"></div></a></li>
      </ul>
      <hr/>
    </nav>
    <div class="social-media"><a target="_blank" href="https://www.instagram.com/cr7designs/" class="fa fa-instagram"></a><a target="_blank" href="https://www.facebook.com/officialcr7designs/" class="fa fa-facebook"></a><a target="_blank" href="https://www.twitter.com/cr7designs/" class="fa fa-twitter"></a><a target="_blank" href="http://cr7designs.tumblr.com/" class="fa fa-tumblr"></a><a target="_blank" href="https://www.pinterest.com/cr7designs/" class="fa fa-pinterest-p"></a><a target="_blank" href="https://plus.google.com/b/106144561101251846053/106144561101251846053?pageId=106144561101251846053" class="fa fa-google-plus"></a></div>
    <div class="mobile-nav-toggle"><span></span></div>
  </div>
</div>