
<div class="product-page container-shadow">
  <div class="product-images">
    <div class="product-imgs"><img src="{{site.baseurl}}/assets/img/shop/products/men/men-tshirts/product.jpg" title="Wannabe" alt="Wannabe" class="other-img"/><img src="{{site.baseurl}}/assets/img/shop/products/men/men-tshirts/product2.jpg" title="Wannabe" alt="Wannabe" class="other-img"/>
    </div>
    <div class="product-background"><img src="{{site.baseurl}}/assets/img/shop/products/men/men-tshirts/product.jpg" title="Wannabe" alt="Wannabe"/>
    </div>
  </div>
  <div class="product-content">
    <div class="product-info">
      <h2 class="ellipsis-text">Rise Again (Solar Eclipse)</h2>
      <h3>Classic T-Shirts</h3>
      <p>$23.14</p>
      <hr/>
    </div>
    <div class="col-left">
      <div class="clothing-style">
        <h4>Clothing Style</h4>
        <div class="select-option">
          <ul class="drop-menu product-menu">Lightweight Hoodies
            <li><a href="{{site.baseurl}}/index.html">T-Shirts</a></li>
            <li><a href="{{site.baseurl}}/index.html">Classic T-Shirts</a></li>
            <li class="active"><a href="{{site.baseurl}}/index.html">Tri-Blend T-Shirts</a></li>
            <li><a href="{{site.baseurl}}/index.html">Graphic T-Shirts</a></li>
            <li><a href="{{site.baseurl}}/index.html">V-Necks</a></li>
            <li><a href="{{site.baseurl}}/index.html">Long Sleeves</a></li>
            <li><a href="{{site.baseurl}}/index.html">Baseball Sleeves</a></li>
            <li><a href="{{site.baseurl}}/index.html">Lightweight Hoodies</a></li>
            <li><a href="{{site.baseurl}}/index.html">Hoodies</a></li>
            <li><a href="{{site.baseurl}}/index.html">Sweatshirts</a></li>
          </ul>
          <div class="select-triangle"></div>
        </div>
        <div class="box-colors"><a href="{{site.baseurl}}/series" title="White" class="triangles white active-color">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Black" class="triangles black">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Light-Grey" class="triangles light-grey">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Dark-Grey" class="triangles dark-grey">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Light-Blue" class="triangles light-blue">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Blue" class="triangles blue">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Dark-Blue" class="triangles dark-blue">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Creme" class="triangles creme">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Gold" class="triangles gold">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Orange" class="triangles orange">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Red" class="triangles red">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Dark-Red" class="triangles dark-red">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Eggplant" class="triangles eggplant">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Green" class="triangles green">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Army" class="triangles army">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a><a href="{{site.baseurl}}/series" title="Brown" class="triangles brown">
            <div class="tricolor-bottom"></div>
            <div class="tricolor-top"></div>
            <div class="tricolor-active"></div></a>
          <div class="triback"><a href="/series" class="triimg"><img src="{{site.baseurl}}/assets/img/shop/colors/heather-grey.jpg" title="Heather Grey" alt="Heather Grey"/></a><a href="{{site.baseurl}}/series" class="tricolor-bottom"></a><a href="{{site.baseurl}}/series" class="tricolor-active"></a></div>
          <div class="triback"><a href="/series" class="triimg"><img src="{{site.baseurl}}/assets/img/shop/colors/charcoal-heather.jpg" title="Charcoal Heather" alt="Charcoal Heather"/></a><a href="{{site.baseurl}}/series" class="tricolor-bottom"></a><a href="{{site.baseurl}}/series" class="tricolor-active"></a></div>
        </div>
        <hr/>
      </div>
    </div>
    <div class="col-right">
      <div class="product-options">
        <div class="options-1">
          <button>S</button>
          <button>M</button>
          <button>L</button>
          <button>XL</button>
          <button>2XL</button>
          <button>3XL</button>
        </div>
        <div class="options-2">
          <button>Front</button>
          <p>OR</p>
          <button>Back</button>
        </div>
        <hr/>
      </div>
      <div class="share-it">
        <div class="share-button">
          <p class="share-icon open-icons">Share This</p>
          <div class="icon-wrapper">
            <ul>
              <li><a target="_blank" href="https://twitter.com/share" data-url="{{ content.absolute_url }}"><i class="fa fa-instagram"></i></a></li>
              <li><a target="_blank" href="https://facebook.com/sharer/sharer.php?" data-url="{{ content.absolute_url }}"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" href="" onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url={{ content.absolute_url }}&amp;title=','popup','width=600,height=600');"><i class="fa fa-twitter"></i></a></li>
              <li><a target="_blank" href="https://plus.google.com/share?url={{ content.absolute_url }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-tumblr"></i></a></li>
              <li><a href="mailto:info@silvertech.com"><i class="fa fa-pinterest-p"></i></a></li>
              <li>
                <div class="close-social-icons"><i class="fa fa-times close-icons"></i></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="download-button"><a href="/series" class="download-anchor">Download Wallpaper
            <div class="download-title"></div>
            <div class="download-icon">
              <div class="download-triangle"></div>
            </div></a></div>
      </div>
      <hr/>
      <div class="features">
        <ul>
          <li>Plain colour t-shirts are 100% Cotton, Heather Grey is 90% Cotton/10% Polyester, Charcoal Heather is 52% Cotton/48% Polyester</li>
        </ul>
        <hr/>
      </div>
    </div>
    <hr class="pro-hr"/>
    <div class="buy-now"><a href="/series">
        <button>Buy Now</button></a></div>
  </div>
</div>