
<div class="series-content">
  <div class="title-series">
    <h1 class="shop-title">Equilateral Series</h1>
    <hr class="thehr"/>
    <p class="shop-description">One artwork a day for 365 days, each about equilateral triangles</p>
  </div>
  <div class="series">
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 3840w" title="The Marylin" alt="The Marylin" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>The Marylin</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral11.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral11.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral11.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral11.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral11.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral11.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral11.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral12.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral12.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral12.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral12.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral12.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral12.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral12.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral13.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral13.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral13.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral13.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral13.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral13.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral13.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral14.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral14.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral14.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral14.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral14.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral14.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral14.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral15.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral15.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral15.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral15.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral15.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral15.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral15.jpg 3840w" title="The Marylin" alt="The Marylin" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>The Marylin</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral16.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral16.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral16.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral16.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral16.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral16.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral16.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral3.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral4.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral5.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral6.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral10.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral9.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral8.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral7.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
    <div class="product-box"><a href="{{site.baseurl}}/series/equilateral">
        <div class="product-image"><img data-sizes="(max-width: 550px) 50vw, (max-width: 700px) 33.4vw, (min-width: 2560px) 16.7vw, 25vw" src="{{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg" data-srcset="        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 1024w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 1366w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 1920w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 2560w,        {{site.baseurl}}/assets/img/series/equilateral/equilateral17.jpg 3840w" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload blur-up"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
            <p>Day: 355</p>
          </div>
        </div></a></div>
  </div>
  <div class="seriesbutton">
    <button>Load More...</button>
  </div>
</div>