.shop-description.the-heading.container-shadow

  .shop-heading
    h1 Shop
    hr.thehr
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex commodi alias dolores ratione? Error assumenda quaerat laborum nihil inventore placeat, et, cum unde incidunt magni optio repudiandae voluptatum, doloremque magnam.
    .triangle-shop
