mixin list-drop(url, info)
  li: a(href="/#{url}") #{info}

.shop-list.container-shadow
  .menu
    ul.panels
      li: a(href="/").activated.ellipsis-text.top-lists Men's
        ul.drop-menu.drop-it.menu-1
          +list-drop('index.html', 'T-Shirts')
          +list-drop('index.html', 'Classic T-Shirts')
          +list-drop('index.html', 'Tri-Blend T-Shirts')
          +list-drop('index.html', 'Graphic T-Shirts')
          +list-drop('index.html', 'V-Necks')
          +list-drop('index.html', 'Long Sleeves')
          +list-drop('index.html', 'Baseball Sleeves')
          +list-drop('index.html', 'Lightweight Hoodies')
          +list-drop('index.html', 'Hoodies')
          +list-drop('index.html', 'Sweatshirts')

      li: a(href="/").ellipsis-text.top-lists Women's
        ul.drop-menu.drop-it.menu-2
          +list-drop('index.html', 'T-Shirts')
          +list-drop('index.html', 'Chiffon Tops')
          +list-drop('index.html', 'Contrast Tanks')
          +list-drop('index.html', 'Fitted Scoops')
          +list-drop('index.html', 'Fitted V-Necks')
          +list-drop('index.html', 'Relaxed Fit')
          +list-drop('index.html', 'Hoodies')
          +list-drop('index.html', 'Scarves')
          +list-drop('index.html', 'A-Line Dresses')
          +list-drop('index.html', 'T-Shirt Dresses')
          +list-drop('index.html', 'Leggins')
          +list-drop('index.html', 'Mini Skirts')

      li: a(href="/").ellipsis-text.top-lists Hats
        ul.drop-menu.drop-it.menu-3
          +list-drop('index.html', 'Snapback Hats')
          +list-drop('index.html', 'Baseball Caps')
          +list-drop('index.html', 'Beanies')

      li: a(href="/").ellipsis-text.top-lists Cases/Skins
        ul.drop-menu.drop-it.menu-4
          +list-drop('index.html', 'Iphone Cases')
          +list-drop('index.html', 'Phone Wallets')
          +list-drop('index.html', 'Samsung Galaxy')
          +list-drop('index.html', 'Ipad')
          +list-drop('index.html', 'Laptop Skins')
          +list-drop('index.html', 'Laptop Sleeves')

      li: a(href="/").ellipsis-text.top-lists Stickers

      li: a(href="/").ellipsis-text.top-lists Wall Art
        ul.drop-menu.drop-it.menu-6
          +list-drop('index.html', 'Posters')
          +list-drop('index.html', 'Canvas Prints')
          +list-drop('index.html', 'Photo Prints')
          +list-drop('index.html', 'Gallery Boards')
          +list-drop('index.html', 'Art Prints')
          +list-drop('index.html', 'Framed Prints')
          +list-drop('index.html', 'Metal Prints')

      li: a(href="/").ellipsis-text.ellipsis-text.top-lists Home Decor
        ul.drop-menu.drop-it.menu-7
          +list-drop('index.html', 'Throw Pillows')
          +list-drop('index.html', 'Rectangular Pillows')
          +list-drop('index.html', 'Mugs')
          +list-drop('index.html', 'Travel Mugs')
          +list-drop('index.html', 'Metal Travel Mugs')
          +list-drop('index.html', 'Wall Tapestries')
          +list-drop('index.html', 'Shower Curtains')
          +list-drop('index.html', 'Rugs')
          +list-drop('index.html', 'Throw Blankets')
          +list-drop('index.html', 'Hand & Bath Towels')
          +list-drop('index.html', 'Beach Towels')
          +list-drop('index.html', 'Duvet Covers')
          +list-drop('index.html', 'Conforters')
          +list-drop('index.html', 'Clocks')
          +list-drop('index.html', 'Acrylic Blocks')

      li: a(href="/").ellipsis-text.top-lists Stationery
        ul.drop-menu.drop-it.menu-8
          +list-drop('index.html', 'Greeting Cards')
          +list-drop('index.html', 'Postcards')
          +list-drop('index.html', 'Calendars')
          +list-drop('index.html', 'Spiral Notebooks')
          +list-drop('index.html', 'Hardcover Journals')

      li: a(href="/").ellipsis-text.top-lists Bags
        ul.drop-menu.drop-it.menu-9
          +list-drop('index.html', 'Tote Bags')
          +list-drop('index.html', 'Studio Pouches')
          +list-drop('index.html', 'Drawstring Bags')
          +list-drop('index.html', 'Laptop Sleeves')
