.collections-list.container-shadow
  .menu
    ul.panels
      li: a(href="/d:").activated.top-lists Equilateral
      li: a(href="/").top-lists Low Poly
      li: a(href="/").top-lists Sports
      li: a(href="/").top-lists Fruits
      li: a(href="/").top-lists Shear
      li: a(href="/").top-lists Other
