
<div class="shop-content">
  <div class="title-icon container-shadow">
    <h1 class="shop-title">Featured</h1>
    <hr class="thehr"/>
    <div class="icons">
      <div class="overflow-y">
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/men-tshirts.png" title="Men T-Shirts" alt="Men T-Shirts" class="active-icon"/>
            <p>Men T-Shirts</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/women-tshirts.png" title="Women T-Shirts" alt="Women T-Shirts"/>
            <p>Women T-Shirts</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/phone-cases.png" title="Phone Cases" alt="Phone Cases"/>
            <p>Phone Cases</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/laptop-skins.png" title="Laptop Skins" alt="Laptop Skins"/>
            <p>Laptop Skins</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/art-prints.png" title="Art Prints" alt="Art Prints"/>
            <p>Art Prints</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/throw-pillows.png" title="Pillows" alt="Pillows"/>
            <p>Pillows</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/drawstring-bags.png" title="Drawstring Bags" alt="Drawstring Bags"/>
            <p>Drawstring Bags</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/mugs.png" title="Mugs" alt="Mugs"/>
            <p>Mugs</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/clocks.png" title="Clocks" alt="Clocks"/>
            <p>Clocks</p></a></div>
        <div class="icon-box"><a href="/products"><img src="/assets/img/shop/icons/greeting-cards.png" title="Greeting Cards" alt="Greeting Cards"/>
            <p>Greeting Cards</p></a></div>
      </div>
    </div>
  </div>
  <div class="products">
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe a niggah all day and tommorrow</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe15.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe2.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe3.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe4.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe5.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe6.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe7.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe8.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe9.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe10.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe11.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe12.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe13.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe14.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe15.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe5.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe2.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe4.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe3.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe3.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe3.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe3.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
    <figure class="product-box"><a href="/products">
        <div class="product-image"><img data-src="/assets/img/shop/products/men/men-tshirts/wannabe3.jpg" title="Wannabe" alt="Wannabe" class="lazyload"/></div></a>
      <div class="product-caption">
        <h3 class="ellipsis-text"><a href="/products">Wannabe</a></h3>
        <p>$25.63</p>
      </div>
    </figure>
  </div>
  <div class="shopbutton">
    <button>Load More...</button>
  </div>
</div>