
<div class="home-image-download content-height">
  <div class="download-bg-1 content-height">
    <h2>Download all CR7Designs in HD</h2><a {{site.baseurl}}href="/collections">
      <button class="button">Download Now</button></a>
  </div>
  <div data-sizes="(max-width: 900px) 100vw, 80vw" data-bgset="  {{site.baseurl}}/assets/img/series/equilateral/equilateral8-small.jpg 768w, {{site.baseurl}}/assets/img/series/equilateral/equilateral8-medium.jpg 1024w,  {{site.baseurl}}/assets/img/series/equilateral/equilateral8-large.jpg 1366w,  {{site.baseurl}}/assets/img/series/equilateral/equilateral8-xlarge.jpg 1920w,  {{site.baseurl}}/assets/img/series/equilateral/equilateral8-xxlarge.jpg 2560w,  {{site.baseurl}}/assets/img/series/equilateral/equilateral8-xxxlarge.jpg 3840w" title="Tetra" class="homeback lazyload content-height"></div>
</div>