
<div class="home-shop-carousel hscContainer2 content-height container-shadow">
  <div class="triangle-toggle">
    <div class="triangle-previous content-height">
      <div class="arrow-shop-carouselleft hide"></div>
    </div>
    <div class="triangle-next content-height">
      <div class="arrow-shop-carouselright"></div>
    </div>
  </div>
  <div class="info-content info-content-right hide-content-top">
    <h1>Delite</h1>
    <hr class="thehr"/>
    <p>Shop a wide range of products. Delite with awesomeness</p><a href="/products">
      <button class="info-shop-button display-none-shop">Shop Now</button></a>
  </div>
  <div class="shop-slider shop-slider-left">
    <ul class="shop-slides shop-slides-right content-height hsc2">
      <li class="shop-slide"><a href="/products">
          <div class="shop-image-anchors"><img src="/assets/img/home/shop-carousel/thirtpreview1.jpg" title="T-Shirts" alt="T-Shirts" class="imgshop imgzoom lazyload"/></div></a>
        <div class="carousel-shop-button">
          <h3 class="ellipsis-text">T-Shirts</h3><a href="/products">
            <button class="info-shop-button">Shop Now</button></a>
        </div>
      </li>
    </ul>
    <ul class="shop-slides shop-slides-right content-height hsc2">
      <li class="shop-slide"><a href="/products">
          <div class="shop-image-anchors"><img src="/assets/img/home/shop-carousel/thirtpreview1.jpg" title="T-Shirts" alt="T-Shirts" class="imgshop imgzoom lazyload"/></div></a>
        <div class="carousel-shop-button">
          <h3 class="ellipsis-text">T-Shirts</h3><a href="/products">
            <button class="info-shop-button">Shop Now</button></a>
        </div>
      </li>
    </ul>
    <ul class="shop-slides shop-slides-right content-height hsc2">
      <li class="shop-slide"><a href="/products">
          <div class="shop-image-anchors"><img src="/assets/img/home/shop-carousel/thirtpreview1.jpg" title="T-Shirts" alt="T-Shirts" class="imgshop imgzoom lazyload"/></div></a>
        <div class="carousel-shop-button">
          <h3 class="ellipsis-text">T-Shirts</h3><a href="/products">
            <button class="info-shop-button">Shop Now</button></a>
        </div>
      </li>
    </ul>
    <ul class="shop-slides shop-slides-right content-height hsc2">
      <li class="shop-slide"><a href="/products">
          <div class="shop-image-anchors"><img src="/assets/img/home/shop-carousel/thirtpreview1.jpg" title="T-Shirts" alt="T-Shirts" class="imgshop imgzoom lazyload"/></div></a>
        <div class="carousel-shop-button">
          <h3 class="ellipsis-text">T-Shirts</h3><a href="/products">
            <button class="info-shop-button">Shop Now</button></a>
        </div>
      </li>
    </ul>
    <ul class="shop-slides shop-slides-right content-height hsc2">
      <li class="shop-slide"><a href="/products">
          <div class="shop-image-anchors"><img src="/assets/img/home/shop-carousel/thirtpreview1.jpg" title="T-Shirts" alt="T-Shirts" class="imgshop imgzoom lazyload"/></div></a>
        <div class="carousel-shop-button">
          <h3 class="ellipsis-text">T-Shirts</h3><a href="/products">
            <button class="info-shop-button">Shop Now</button></a>
        </div>
      </li>
    </ul>
    <ul class="shop-slides shop-slides-right content-height hsc2">
      <li class="shop-slide"><a href="/products">
          <div class="shop-image-anchors"><img src="/assets/img/home/shop-carousel/thirtpreview1.jpg" title="T-Shirts" alt="T-Shirts" class="imgshop imgzoom lazyload"/></div></a>
        <div class="carousel-shop-button">
          <h3 class="ellipsis-text">T-Shirts</h3><a href="/products">
            <button class="info-shop-button">Shop Now</button></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="info-content info-content-right hide-content-buttom">
    <h1>Delite</h1>
    <hr class="thehr"/>
    <p>Shop a wide range of products. Delite with awesomeness</p><a href="/products">
      <button class="info-shop-button display-none-shop">Shop Now</button></a>
  </div>
</div>