
<div class="series-content">
  <div class="title-series">
    <h1 class="shop-title">Equilateral Collection</h1>
    <hr class="thehr"/>
  </div>
  <div class="series">
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral3.jpg" title="The Marylin" alt="The Marylin"/>
          <div class="product-caption">
            <h2>The Marylin</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral4.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral5.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral6.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral7.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral8.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral9.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral10.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral11.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral12.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral13.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral14.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral15.jpg" title="The Marylin" alt="The Marylin"/>
          <div class="product-caption">
            <h2>The Marylin</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral16.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral17.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral3.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral4.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral5.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral6.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral10.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral9.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral8.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral7.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
    <div class="product-box"><a href="/collections/equilateral">
        <div class="product-image"><img src="/assets/img/collections/equilateral/equilateral17.jpg" title="Wannabe a niggah all day and tommorrow" alt="Wannabe a niggah all day and tommorrow"/>
          <div class="product-caption">
            <h2>Wannabe a niggah all day and tommorrow</h2>
          </div>
        </div></a></div>
  </div>
  <div class="seriesbutton">
    <button>Load More...</button>
  </div>
</div>